# Python Basics

## Variable - to store data values
- not start a number,symbol
- no gap
- solud in left side and use ' = '
- caps variable are different
- variables are updatable

In [1]:
a1=1
a1          # variable

1

In [2]:
a,b,c=1,2,3

In [3]:
print(a,b,c)

1 2 3

# Data Types

- int,float,complex_number
- str
- bool
- list,tuple,set,dict


To find type of the data use 
- type(a)

# Number Datatypes
## int
- whole numbers 
- example: 2

## float
- decimal value
- example: 2.3

## complex_number
- example: 1+3J

In [4]:
a=1
type(a)

int

In [5]:
d=3.1
type(d)

float

In [6]:
s=3.0
type(s)

float

In [7]:
type(1+3J)

complex

# Text Type

## String (str)
- use " "
- u can use single, dobule or triple " "

In [8]:
f='i am happy'

In [9]:
f

'i am happy'

In [10]:
type(f)

str

In [11]:
g= "dad's money"
g

"dad's money"

# Index
- starts with 0
- use[ ]
- include white space while indexing

In [12]:
f='i am happy'

In [13]:
f[0]

'i'

In [14]:
f[1]

' '

# String Slicing
- while slicing u need to add exta index (end)

In [15]:
f='dance walk'
f[6:10]

'walk'

In [16]:
f[-10:-5]

'dance'

## String concatination

In [17]:
a='i am '
b='sabari '

In [18]:
c=a+b

In [19]:
c

'i am sabari '

In [20]:
3*c

'i am sabari i am sabari i am sabari '

In [21]:
a.isalpha()

False

In [22]:
a='1'
a.isnumeric()

True

In [23]:
b= input()
a='i am ' +b 
print(a)

sabari
i am sabari

In [24]:
a='kholi'
b='3'
print(f'player name is {a} bating at {b}')

player name is kholi bating at 3

In [25]:
a='kholi'
b='3'
print('player name is {} bating at {}'.format(a,b))

player name is kholi bating at 3

In [26]:
a='kholi 1'

In [27]:
a.replace('k','d')

'dholi 1'

In [28]:
b=a.lower()

In [29]:
b.islower()

True

In [30]:
a= '  i am goood g '
a=a.strip()

In [31]:
a.replace('am', 'b')

'i b goood g'

In [32]:
a.title()

'I Am Goood G'

In [33]:
a.capitalize()

'I am goood g'

In [34]:
a.find('d')

9

In [35]:
a.count('o')

3

In [36]:
print('i am \n bad')

i am
 bad

# Type Casting

- type conversion

In [37]:
a=30.2

In [38]:
a=int(30.7)  # it won't round the value

In [39]:
a

30

In [40]:
b=float(13)
type(b)

float

In [41]:
a=str('1')
type(a)

str

In [42]:
a

'1'

In [43]:
c=int(a)
c

1

# BOOl

In [44]:
a= 'i am good'

In [45]:
'f' in a

False

- list [ ]
- tuple( )
- set  { }
- dict { }

There are four collection data types in the Python programming language:
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [46]:
type({})

dict

# List [  ]

In [47]:
a=[1,2.0,'sabari',4,4,5]  # all data types, duplicates are allowed ,ordered

In [48]:
a

[1, 2.0, 'sabari', 4, 4, 5]

In [49]:
type(a)

list

In [50]:
# indexing and slicing is applicable

a[0]

1

In [51]:
a[0:4]

[1, 2.0, 'sabari', 4]

In [52]:
# lsit are mutable

a

[1, 2.0, 'sabari', 4, 4, 5]

In [53]:
a[0]='python'

In [54]:
a

['python', 2.0, 'sabari', 4, 4, 5]

In [55]:
a.append(3)    #Append object to the end of the list.

In [56]:
a

['python', 2.0, 'sabari', 4, 4, 5, 3]

In [57]:
a.clear()    #Remove all items from list.

In [58]:
a=[1,2.0,'sabari',4,4,5]

In [59]:
b=a.copy()   #Return a shallow copy of the list.

In [60]:
b

[1, 2.0, 'sabari', 4, 4, 5]

# why you have to use copy() ?

In [61]:
a=[1,2,3,4,5]

In [62]:
b=a.copy()

In [63]:
b

[1, 2, 3, 4, 5]

In [64]:
b[0]='sabari'
b

['sabari', 2, 3, 4, 5]

In [65]:
a

[1, 2, 3, 4, 5]

# Tuples ( )

In [66]:
a=(1,2,3,7,5,5.0,6,'name')

In [67]:
type(a)

tuple

In [68]:
a                # ordered , immutal,duplicates and all data types are allowed

(1, 2, 3, 7, 5, 5.0, 6, 'name')

In [69]:
a.count(5)

2

In [70]:
a.index(7)

3

# Set { }

In [71]:
d={1,2,3,4,5}

In [72]:
type(d)

set

In [73]:
d

{1, 2, 3, 4, 5}

In [74]:
f={'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [75]:
print(f)

{'orange', 'banana', 'pear', 'apple'}

In [76]:
f.pop()

'orange'

In [77]:
f

{'apple', 'banana', 'pear'}

In [78]:
f.pop()

'banana'

In [79]:
f

{'apple', 'pear'}

In [81]:
f

{'apple', 'pear'}

 # Dict { }

In [82]:
g={'keys': 1}

In [83]:
type(g)

dict

In [84]:
h={'jack': 4098, 'sape': 4139}

In [85]:
type(h)

dict

In [86]:
h.keys()

dict_keys(['jack', 'sape'])

In [87]:
h.values()

dict_values([4098, 4139])

In [88]:
h.get('sape')

4139

In [89]:
h['sape']

4139

In [90]:
data= {
     "student_1":{
         'name': 'saba',
         "mark": 35
                  },
       "student_2":{
         'name': 'moni',
         "mark": 35
                }
    
       }

In [91]:
data

{'student_1': {'name': 'saba', 'mark': 35},
 'student_2': {'name': 'moni', 'mark': 35}}

In [92]:
data['student_1']

{'name': 'saba', 'mark': 35}

In [93]:
data['student_1']['mark']

35

#  if Statements

In [94]:
a=12

elif 

else :above condition fail

if:condition is true run

In [95]:
if a==10 or 12:
    print(a)
    c=a+10
    print('values are ',c)
    
elif a==20:
    print('value is 20')

elif a==20:
    print('The value is 10+10')

else:
    print('The value is greater 10 and the value is :',a)

12
values are  22

# loop

- for loop

- while loop

In [96]:
a=['saba','mani','rahul','mahesh','dhanapal','raam','abdul']

In [97]:
type(a)

list

In [98]:
for i in a:
    print(i)

saba
mani
rahul
mahesh
dhanapal
raam
abdul

In [99]:
b=[2]

In [100]:
for i in a:
    print(i)
    if i == 'dhanapal' or i == 'raam' :
        print('hi ')
        
    else:
        print('bye') 
else:
    print(' The list is empty')

saba
bye
mani
bye
rahul
bye
mahesh
bye
dhanapal
hi
raam
hi
abdul
bye
 The list is empty

In [101]:
i = 1
while i < 10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

 # task
 
 1) How to edit tuple

In [102]:
c=(1,2,3,4,'saba')

In [103]:
type(c)

tuple

In [104]:
# type casting
d=list(c)

In [105]:
type(d)

list

In [106]:
d.append('hari')

In [107]:
d

[1, 2, 3, 4, 'saba', 'hari']

In [108]:
c=tuple(d)

In [109]:
c

(1, 2, 3, 4, 'saba', 'hari')

2)  How to remove duplicats from list or tuple

In [110]:
l=[2,3,4,5.9,"heart",'heart',5.9,4,3]

In [111]:
l=set(l)

In [112]:
type(l)

set

In [113]:
l

{2, 3, 4, 5.9, 'heart'}

In [114]:
l=list(l)
l

[2, 3, 4, 5.9, 'heart']

# Stack


-  last in (append) and 1st out (pop)  using list

In [115]:
stack = [1,2,3,4,5,6,7]

In [116]:
stack.append(9)   #last in

In [117]:
stack

[1, 2, 3, 4, 5, 6, 7, 9]

In [118]:
stack.pop()

9

In [119]:
stack

[1, 2, 3, 4, 5, 6, 7]

# List comprehension

In [120]:
squares = []
for x in range(10):
squares.append(x**2)

IndentationError: expected an indented block after 'for' statement on line 2 (4058254306.py, line 3)

In [121]:
a=range(1,100)

In [122]:
a=[1,2,3,4,5,6,7,]

In [123]:
d=[]
for i in a:
    c=i+10
    d.append(c)
    print(c)

11
12
13
14
15
16
17

In [124]:
d

[11, 12, 13, 14, 15, 16, 17]

In [125]:
s = [i+10 for i in a]

In [126]:
s

[11, 12, 13, 14, 15, 16, 17]

 # Function
 
 -  A function is a block of code which only runs when it is called.
 - resuable
 
 
 # Type of function

- Python Built-in Functions.
    - example : print , if, for ...etc 
- Python User-defined Functions.
- Python Lambda Functions.
- Python Recursion Functions.

In [127]:
a=[1,2,3,4,5,6,7]

In [128]:
for i in a:
    c=i+10
    print(c)

11
12
13
14
15
16
17

In [129]:
z=[1,2,3,4,5,6,7]
b=[3,4,5,6,7,8,9]
c=[4,45,6,7,8,9]

In [130]:
z

[1, 2, 3, 4, 5, 6, 7]

In [131]:
def l_comp(a):  # l_comp --- function name    # (a) ---attribute
    d=[]
    for i in a:
        c=i+10
        d.append(c)
    return d

In [132]:
c=l_comp(c)

In [133]:
b=l_comp(b)

In [134]:
z=l_comp(z)

In [135]:
z

[11, 12, 13, 14, 15, 16, 17]

In [136]:
b

[13, 14, 15, 16, 17, 18, 19]

In [137]:
c

[14, 55, 16, 17, 18, 19]

In [138]:
def div (a,b=3):            # arugument poistion and number is important
    """
    This div(a,b) is the function for dividing a and b in float
    
    example : >>>> div(6,2)
                   3.0
 
    """
    c=a/b
    return c,a,b

In [139]:
div(6,2)

(3.0, 6, 2)

In [140]:
div(2,6)

(0.3333333333333333, 2, 6)

In [141]:
div(b=2,a=6)

(3.0, 6, 2)

In [142]:
div(6,3)

(2.0, 6, 3)

In [143]:
div(6,2)

(3.0, 6, 2)

In [144]:
c=div(6)

In [145]:
def add (a,b):
    c=a+b
    return c,a,b

In [146]:
a,b,c=add(2,3) # position in return is  important

In [147]:
c

3

In [148]:
a

5

In [149]:
b

2

In [150]:
a=10                   # global variable
b=30
def add (a,b):
    h=a+b              # local variable (called inside function only)
    return h

In [151]:
a

10

In [152]:
b

30

In [153]:
h=add(2,3)

In [154]:
h

5

# Lambda function

In [155]:
# normal one
def sum(a):
    c=a+10
    return c

In [156]:
c=sum(2)

In [157]:
c

12

In [158]:
# lambda style
c=lambda a:a*10

In [159]:
c(2)

20

In [160]:
10+c(2)

30

In [161]:
def sum(a):
    c=a+10
    print(c)
    sum(a)

In [162]:
# Program to print the fibonacci series upto n_terms

# Recursive function
def recursive_fibonacci(n):
    if n <= 1:
        return n
    else:
        return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))

n_terms = 10

# check if the number of terms is valid
if n_terms <= 0:
    print("Invalid input ! Please input a positive value")
else:
    print("Fibonacci series:")
for i in range(n_terms):
    print(recursive_fibonacci(i))

Fibonacci series:
0
1
1
2
3
5
8
13
21
34

In [163]:
def name(a):
    pass

In [164]:
list(range(2,3))


2%2

0

In [165]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
        else:
        # loop fell through without finding a factor
            print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [166]:
a=[2,3,4,1,5,6,1]

In [167]:
def demo (a):
    for i in a:
        if i==1:
            print('a is one:',i)
            break
        else:
            print('a is not one',i)

In [168]:
demo(a)

a is not one 2
a is not one 3
a is not one 4
a is one: 1

In [169]:
a=[2,3,4,1,5,6,1]

In [170]:
def demo (a):
    for i in a:
        if i==1:
            print('a is one:',i)
            continue
        print('a is not one',i,i+2)

In [171]:
demo(a)

a is not one 2 4
a is not one 3 5
a is not one 4 6
a is one: 1
a is not one 5 7
a is not one 6 8
a is one: 1

# module

In [192]:
def add (a,b):
    c=a+b
    return c

In [193]:
add(2,3)

5